* {
  all: unset;
  display: revert;
}

:root {
  --color-accent: #FF5533;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #262A2F;
}

.grid {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(12, 110px);
}

.container {
  max-width: 1435px;
  margin: 0 auto;
}

.header {
  margin-top: 36px;
  margin-bottom: 100px;
}

.header__logo {
  grid-column: span 4;
}

.navigation {
  display: flex;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.navigation__link.active, 
.navigation__link:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.navigation__link:not(:last-child) {
  margin-right: 60px;
}

.articles__main {
  grid-column: span 9;
  display: grid;
  gap: 50px;
}

.articles__short {
  grid-column: span 3;
  display: grid;
  gap: 35px;
}

.main-article {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(9, 110px);
}

.main-article__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  margin: 10px 0 34px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-article__desc {
  font-size: 22px;
  line-height: 26px;
}

.main-article__image {
  position: relative;
  grid-column: span 3;
  min-height: 185px;
  max-height: 344px;
  overflow: hidden;
}

.main-article__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-article__content {
  grid-column: span 6;
}

.main-article__source {
  margin-top: 30px;
  display: block;
}

.article-category {
  color: var(--color-accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.article-source {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #868686;
}

.article-date {
  color: var(--color-accent);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.short-article {
  border-left: 9px solid;
  padding-left: 10px;
}

.short-article__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.short-article__footer {
  margin-top: 14px;
  display: flex;
  align-items: center;
}

.short-article__source {
  display: flex;
}

.short-article__source::before {
  content: '•';
  display: inline-block;
  font-size: 12px;
  margin: 0 12px;
}

.footer {
  margin-top: 135px;
  padding-top: 22px;
  background: #262A2F;
  color: #fff;
  padding-bottom: 58px;
}

.footer__logo {
  grid-column: span 2;
}

.footer__navigation {
  grid-column: span 10;
}

.footer__logo img {
  width: 163.58px;
  height: 33.9px;
}

.footer__copyright {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  line-height: 28px;
  margin-top: 47px;
}

.footer__copyright-year {
  color: #868686;
}

.footer__copyright-link {
  font-weight: 700;
  color: var(--color-accent);
  text-decoration: underline;
}